@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <div class="col-md-3 col-xs-12"></div>
    <h1 class="display-6"style="padding-top: 100px">Wat is het Werknemer Managment ?</h1><br>
    <p class="text-justify">Werknemer Management is een web applicatie die toestaat om taken toetevoegen aan uw werknemers. Hiernaast kunt u ook een overzicht raadplegen van elke werknemer.
        Een kunt u zien welke taken elk werknemer heeft.<br></p>
    <h1 class="display-7">Welke functies zijn er inbegrepen ?</h1><br>
    <ul style="list-style-type: none">
        <li class="text-sm-left"> ✔ Overzicht van alle werknemers</li>
        <li class="text-sm-left"> ✔ Overzicht van een werknemer raadplegen</li>
        <li class="text-sm-left"> ✔ Werknemer toevoegen</li>
        <li class="text-sm-left"> ✔ Overzicht van Alle taken</li>
        <li class="text-sm-left"> ✔ Taak linken aan een werknemer</li>
        <li class="text-sm-left"> ✔ Taak verwijderen van een werknemer</li>
        <li class="text-sm-left"> ✔ Taken opvragen aan de hand van functie en startuur</li>
        <li class="text-sm-left"> ✔ opvragen van werkgever details per werknemer</li>
    </ul>
    
    
</div>